
* {
    /* `otf-font-awesome` is required to be installed for icons */
    font-family: FontAwesome, sans-serif;
    /*font-family: FontAwesome, Roboto, Helvetica, Arial, sans-serif;*/
    font-size: 15px;
    /*border-radius: 7px;*/
    color: white;
    /*color: #0e242e;*/
    /*margin: 2px 4px;*/
}

p {
    margin: 0;
    padding: 0;
}

window#waybar {
    margin:0;
    padding: 0;
    /*background-color: black;*/
    background-color: #050713;
    border-radius: 0;
    color: #ffffff;
    transition-property: background-color;
    transition-duration: .5s;
}

window#waybar.hidden {
    opacity: 0.2;
}

/*
window#waybar.empty {
    background-color: transparent;
}
window#waybar.solo {
    background-color: #FFFFFF;
}
*/

window#waybar.termite {
    background-color: #3F3F3F;
}

window#waybar.chromium {
    background-color: #000000;
    border: none;
}

#workspaces button {
    padding: 2px 7px;
    opacity: 0.5;
    /*box-shadow: inset 0 -3px transparent;*/
	border: 2px solid transparent;
	border-radius: 0;
}

#workspaces button:hover {
	opacity: 1;
	background-color: transparent;
}

#workspaces button.focused {
    opacity: 1;
	border-top: 2px solid white;
}

/*
#workspaces button.urgent {
    background-color: #eb4d4b;
}
*/







#mode {
    background-color: #64727D;
    border-bottom: 3px solid #ffffff;
}


#clock,
#battery,
#cpu,
#memory,
#disk,
#temperature,
#backlight,
#network,
#pulseaudio,
#custom-media,
#tray,
#mode,
#idle_inhibitor,
#keyboard-state,
#language,
#mpd {
	border: 2px solid transparent;
    padding: 2px 7px;
    /*background-color: rgb(230, 230, 230);*/

}

#window,
#workspaces {
    margin: 0 4px;
}

#window {
    color: white;
    font-size: 17px;
}

/* If workspaces is the leftmost module, omit left margin */
.modules-left > widget:first-child > #workspaces {
    margin-left: 0;
}

/* If workspaces is the rightmost module, omit right margin */
.modules-right > widget:last-child > #workspaces {
    margin-right: 0;
}


@keyframes blink {
    to {
        background-color: #ffffff;
        color: #000000;
    }
}

#battery.critical:not(.charging) {
    background-color: #f53c3c;
    color: #ffffff;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

label:focus {
    background-color: #000000;
}


#network.disconnected {
    background-color: #f53c3c;
}


#custom-media.custom-spotify {
    background-color: #66cc99;
}

#custom-media.custom-vlc {
    background-color: #ffa000;
}


#temperature.critical {
    background-color: #eb4d4b;
}

#tray {
    background-color: transparent;
}

#tray > .passive {
    -gtk-icon-effect: dim;
}

#tray > .needs-attention {
    -gtk-icon-effect: highlight;
    background-color: #eb4d4b;
}

#idle_inhibitor {
    background-color: #2d3436;
}

#idle_inhibitor.activated {
    background-color: #ecf0f1;
    color: #2d3436;
}


#mpd.disconnected {
    background-color: #f53c3c;
}

#mpd.stopped {
    background-color: #90b1b1;
}

#mpd.paused {
    background-color: #51a37a;
}


#keyboard-state {
    background: #97e1ad;
    color: #000000;
    padding: 0 0px;
    margin: 0 5px;
    min-width: 16px;
}

#keyboard-state > label {
    padding: 0 5px;
}

#keyboard-state > label.locked {
    background: rgba(0, 0, 0, 0.2);
}
